<h1>{{ article.title }}</h1>
{% if article.image %}
    <img src="{{ article.image.url }}" alt="Изображение не загрузилось!" style="max-width: 100%; height: auto;">
{% endif %}
<p>{{ article.content }}</p>
<p>Автор: {{ article.author }}</p>
<p>Дата создания: {{ article.created_at }}</p>

<h2>Комментарии</h2>
<ul>
    {% for comment in article.comments.all %}
        <li>
            <p>{{ comment.content }}</p>
            <p>Автор: {{ comment.author }}</p>
            <p>Дата: {{ comment.created_at }}</p>
        </li>
    {% endfor %}
</ul>

<h2>Добавить комментарий</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Отправить</button>
</form>